<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Deal with it <small>Quel'Thalas</small></h1>
    </div>
  </div>
</div>
<div class="row" ng-controller="streamController">
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li role="presentation" class="active tabCheck" ng-click="setTab('stream');" id="tabStream"><a href="#">Actividad</a></li>
      <li role="presentation" class="tabCheck" ng-click="setTab('members');" id="tabMembers"><a href="#">Miembros</a></li>
    </ul>
  </div>
  <div class="col-sm-12" style="margin-top:1em;"  ng-show="streamTab">
    <dl class="dl-horizontal" ng-repeat="new in news">
      <dt>\{{new.character}}</dt>
      <dd>\{{new.typeFancy}} - \{{new.achievement.description}}\{{new.item.name}}</dd>
    </dl>
  </div>
  <div class="col-sm-12" style="margin-top:1em;"  ng-show="membersTab">
    <h4>Somos \{{members.length}}</h4>
    <div class="row">
      <div class="col-sm-12">
        <input ng-model="searchText" class="form-control" placeholder="buscar"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6"  dir-paginate="member in members | itemsPerPage: 100 | filter:searchText">
        <div class="media" style="height:100px">
          <a class="media-left" href="#">
             <img  data-original="http://us.battle.net/static-render/us/\{{member.character.thumbnail}}" title="\{{member.character.name}}" class="userAvatars lazy">
          </a>
          <div class="media-body">
            <h4 class="media-heading">\{{member.character.name}} - Nivel \{{member.character.level}} <small>\{{printClass(member.character.class)}}</small></h4>
            <p>\{{member.character.spec.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
         <dir-pagination-controls template-url="pageControl.tpl.html"></dir-pagination-controls>
      </div>
  </div>
</div>